.Footer
	background color_principal
	margin 15px 0 120px 0
	width 100%
	&-lista
		list-style none
	&-item
		color color_footer
		display inline-block
		margin-right 15px
	&-link
		color color_footer
		&:hover
			color color_footer