.contenedor
	margin-left auto
	margin-right auto
	padding 0 46px
@media screen and (max-width 991px)	
	.contenedor
		padding 0 15px	
@media screen and (min-width 992px) and (max-width 1200px)
	.contenedor
		padding 0 23px		