/*================= Modulo Header  =========================*/
.Logo
	box-shadow 0px -120px 500px 205px #fff
	margin 35px auto 20px auto
	text-align center
	width 0
	&-texto
		color color_logo
		font-size 89px
		left -100px
		position relative

.Menu
	background color_principal
	&-busqueda
		background transparent
		border 1px solid color_busqueda_borde
		color color_header_letras
		height 1.7em
		padding-left 1em
		outline none
		width 100%
	&-contenedor
		position relative
	&-item
		display inline-block	
		list-style none
		margin 0 25px
		padding .5em
		vertical-align middle
	&-link
		color color_header_letras
		font-size 18px
		font-weight 400
		padding 1.5em 1em
				