.Articulo
	background color_principal
	display inline-block
	margin 0 8px 0 0
	padding 12px 12px 25px 12px
	width 22%
	&:last-child
		margin-right 0
	&-figure
		margin 0
		padding 0
	&-imagen
		width 100%
	&-texto
		color color_letras
		font-size 1em
		margin-bottom 25px
		text-indent 35px
		text-align justify
.Bienvenida
	background color_principal
	padding 15px
	&-contenido
		display inline-block
		vertical-align top
		width 75%
	&-texto
		color color_letras
		font-size 1em
		text-align justify
		text-indent 35px
	&-titulo
		color #000	
		font-size 1.3em
.Carrusel
	background color_principal
	margin 13px 0
	padding 15px
.Imagenes
	display inline-block
	margin 0
	margin-top 10px
	vertical-align top
	width 23%
	&-imagen
		display inline-block
		margin 10px 10px 0 0
		width 40%	
.Seccion
	margin 13px 0
	text-align center
	width 100%