.Articulo
	background color_principal
	display inline-block
	margin 0 8px 0 0
	padding 12px 12px 25px 12px
	width 21.5%
	&:last-child
		margin-right 0
	&-figure
		margin 0
		padding 0
	&-imagen
		width 100%
	&-link
		display none
	&-texto
		color color_letras
		font-size 1em
		margin-bottom 25px
		text-indent 35px
		text-align justify
.Bienvenida
	background color_principal
	padding 15px
	&-contenido
		display inline-block
		vertical-align top
		width 75%
	&-texto
		color color_letras
		font-size 1em
		text-align justify
		text-indent 35px
	&-titulo
		color #000	
		font-size 1.3em
.Carrusel
	background color_principal
	margin 13px 0
	padding 15px
.Imagenes
	display inline-block
	margin 0
	margin-top 10px
	vertical-align top
	width 23%
	&-imagen
		display inline-block
		margin 10px 10px 0 0
		width 40%	
.Seccion
	margin 13px 0
	text-align center
	width 100%

/****************** Media Querys  ****************/

/*================= Diseño movil ===========================*/
@media screen and (max-width 991px)	
	.Articulo
		display block
		margin 10px 0 
		padding 15px 0
		position relative
		width 100%
		&-figure
			display block
			margin 0 auto
			margin-bottom 10px
			padding 0
			vertical-align top
			width 80%
		&-link
			display block
			height 100%
			position absolute
			width 100%
		&-texto
			display block
			margin 0 auto
			width 80%
	.Bienvenida
		&-contenido
			display block
			width 100%		
		&-titulo
			text-align center			
	.Footer
		margin-bottom 60px
	.Imagenes
		display block
		width 100%
		&-imagen
			margin 0
			width 23%
	.Menu
		&-contenedor
			padding 0
		&-item
			margin-left 5px
			display block
			float none !important
	.u-link
		display none
@media screen and (min-width 992px) and (max-width 1200px)
	.Articulo
		margin 0
		width 45%
	.Menu
		&-item
			margin 0 10px
			float none !important