/*!
* Maquetacion: Ing. Gerardo May
* Proyecto: Tecnologias web, segundo parcial
*/

//Temas
@import skin

//Iconos
@import iconos

//Estilos Base
@import normalize
@import base

//Grid
@import grid

//Utilidades
@import utilidades

//Includes
@import footer
@import header

// Secciones
@import index