color_background = #ada6a0
color_header_letras = #5b5b5b
color_letras = #343433
color_busqueda_borde = #f4f4f4
color_busqueda = #fafafa
color_principal = #fff
color_principal_borde = #7c7773
color_link = #000
color_footer = #545454
color_logo = #bebcba