.u-btn
	padding 1em
	border-radious 5px
.u-block
	display block
.u-centrar
	margin 0 auto
.u-fix
	overflow auto
	zoom 1
	&:after
		content " " 
		clear both 
		display block 
		font-size 0 
		height 0	
		visibility hidden
.u-link
	color color_link
	text-decoration underline
	&:hover
		text-decoration underline		
.u-left
	float left
	left 0
			 
.u-right
	float right
	right 0
.u-shadow
	border 2px solid color_principal_borde
	box-shadow 2px 0 8px 0 rgba(149,143,137,0.5)